In [1]:
%matplotlib inline
import pandas as pd

import json

import matplotlib.pyplot as plt
from scipy.sparse import lil_matrix
import scipy.spatial.distance

# Exercise 1

In [2]:
actor_name_map = {}
movie_actor_map = {}
actor_genre_map = {}
actor_rating_map = {}


with open("imdb_movies_2000to2022.prolific.json", "r") as in_file:
    for line in in_file:
        
      
        this_movie = json.loads(line)
                    
        for actor_id,actor_name in this_movie['actors']:
            actor_name_map[actor_id] = actor_name
            
        for actor_id,actor_name in this_movie['actors']:
            this_actors_genres = actor_genre_map.get(actor_id, {})
            
            for g in this_movie["genres"]:
                this_actors_genres[g] = this_actors_genres.get(g, 0) + 1
                
            actor_genre_map[actor_id] = this_actors_genres
            
            if len(this_movie["rating"]) > 0:
                actor_rating_map[actor_id] = actor_rating_map.get(actor_id, 0)\
                    + this_movie["rating"]["votes"]
                       
        movie_actor_map[this_movie["imdb_id"]] = ({
            "movie": this_movie["title"],
            "actors": set([item[0] for item in this_movie['actors']]),
            "genres": this_movie["genres"]
        })

In [3]:
actor_rating_map

{'nm0000212': 269915,
 'nm0413168': 9278649,
 'nm0000630': 2356649,
 'nm0005227': 535171,
 'nm0864851': 328,
 'nm0828288': 5375,
 'nm0933983': 328,
 'nm0329491': 328,
 'nm0000417': 400455,
 'nm0000603': 356515,
 'nm0000457': 886285,
 'nm0452288': 3247,
 'nm0001002': 151401,
 'nm0001299': 829,
 'nm0923529': 35979,
 'nm0936365': 829,
 'nm0006763': 318674,
 'nm0007113': 69011,
 'nm0310173': 257,
 'nm0412917': 119998,
 'nm1142237': 24,
 'nm0321320': 24,
 'nm0001123': 47,
 'nm0898634': 3041,
 'nm0269451': 24,
 'nm0803374': 24,
 'nm1315804': 24,
 'nm0803138': 24,
 'nm0001324': 84366,
 'nm0920148': 62,
 'nm0115304': 62,
 'nm0203349': 62,
 'nm0427470': 1851,
 'nm0001293': 387085,
 'nm0001062': 67193,
 'nm0732133': 1948,
 'nm0000199': 1551049,
 'nm0001583': 4405,
 'nm0283299': 4405,
 'nm0568375': 4405,
 'nm0000849': 2993821,
 'nm0603090': 19327,
 'nm0098709': 6789,
 'nm0617799': 6701,
 'nm0089231': 4535,
 'nm0175305': 89735,
 'nm0001497': 3050291,
 'nm0000138': 13861068,
 'nm0000639': 14807,
 'nm0641168': 156487,
 'nm0377888': 187,
 'nm0290969': 187,
 'nm0000461': 63664,
 'nm0001781': 8863,
 'nm0002150': 8863,
 'nm0463233': 8863,
 'nm0001108': 11819,
 'nm0001456': 614,
 'nm0852082': 614,
 'nm1325216': 614,
 'nm0000450': 3241611,
 'nm0000513': 1003394,
 'nm0682071': 64029,
 'nm0383449': 21574,
 'nm0424682': 4170,
 'nm0507915': 4170,
 'nm0839486': 210192,
 'nm0000154': 1954119,
 'nm0768018': 195516,
 'nm0200057': 201901,
 'nm0272521': 195516,
 'nm0344435': 646507,
 'nm0004821': 689151,
 'nm0262635': 10016972,
 'nm0004695': 2299490,
 'nm0000161': 1571258,
 'nm0000547': 1767373,
 'nm0001691': 3957629,
 'nm0535502': 105333,
 'nm0000136': 8599802,
 'nm0001287': 328895,
 'nm0000453': 1126611,
 'nm0001059': 159443,
 'nm0565569': 282715,
 'nm0364977': 41928,
 'nm0000594': 5901,
 'nm0941315': 360,
 'nm0000704': 6189601,
 'nm0005212': 9795242,
 'nm0089217': 9296763,
 'nm0000293': 3475199,
 'nm0001111': 382057,
 'nm0000170': 1739559,
 'nm0001751': 37581,
 'nm0000129': 7250720,
 'nm0779084': 627010,
 'nm0628601': 2493454,
 'nm0000609': 1880028,
 'nm0735442': 3530360,
 'nm1011675': 274817,
 'nm0668994': 274817,
 'nm0000228': 1793539,
 'nm0000194': 3477631,
 'nm0001132': 3201400,
 'nm0000949': 5963357,
 'nm0184392': 17038,
 'nm0566044': 104,
 'nm0007940': 232,
 'nm0120494': 1413,
 'nm0001772': 3501766,
 'nm0000463': 2740650,
 'nm0000169': 2832885,
 'nm0000226': 6516542,
 'nm0001800': 562661,
 'nm0001223': 391448,
 'nm0000354': 8771439,
 'nm0000106': 1502470,
 'nm0000597': 563564,
 'nm0108028': 62161,
 'nm0005450': 542219,
 'nm0000422': 4391021,
 'nm0457755': 208123,
 'nm0911320': 466270,
 'nm0000307': 3465057,
 'nm0001833': 1336618,
 'nm0001808': 389067,
 'nm0159789': 2214728,
 'nm0000204': 7122030,
 'nm0000191': 5224150,
 'nm0000489': 1075308,
 'nm0000168': 9556934,
 'nm0000454': 199630,
 'nm0005420': 301795,
 'nm0347957': 628,
 'nm0001735': 2987,
 'nm0002006': 1288599,
 'nm0881948': 2161,
 'nm0005160': 774,
 'nm0653959': 774,
 'nm0000141': 380858,
 'nm0000378': 95871,
 'nm0005279': 21598,
 'nm0005162': 42743,
 'nm0513281': 11130,
 'nm0000511': 307617,
 'nm0000641': 303051,
 'nm0000725': 197225,
 'nm0001698': 24294,
 'nm0005554': 74,
 'nm0056249': 2036,
 'nm1304423': 74,
 'nm0000969': 10724,
 'nm0532461': 24881,
 'nm0116599': 111,
 'nm0471180': 111,
 'nm0000244': 2785912,
 'nm0001349': 267996,
 'nm0000432': 702708,
 'nm0000501': 1309853,
 'nm0000196': 2051495,
 'nm0000552': 2597653,
 'nm0000139': 4575734,
 'nm0001475': 1157823,
 'nm0001082': 1435947,
 'nm1123814': 7324,
 'nm0485011': 7324,
 'nm0171583': 8711,
 'nm0435218': 937,
 'nm0596959': 5631,
 'nm0908914': 16703,
 'nm0931080': 18,
 'nm0000665': 87084,
 'nm0000523': 408847,
 'nm0942787': 62492,
 'nm0005569': 497334,
 'nm1317822': 24,
 'nm0816839': 24,
 'nm0453548': 24,
 'nm0004193': 7256,
 'nm0000134': 6293285,
 'nm0000623': 1063559,
 'nm0005305': 485401,
 'nm0004517': 160449,
 'nm0000230': 2365087,
 'nm0661164': 68509,
 'nm0001709': 325924,
 'nm0000608': 252963,
 'nm0940158': 508074,
 'nm0715953': 473,
 'nm0682399': 42106,
 'nm0461355': 2313,
 'nm0000379': 3364593,
 'nm0040472': 489638,
 'nm0266631': 11776,
 'nm0531095': 15962,
 'nm0000242': 7713515,
 'nm0000619': 1239135,
 'nm0003817': 794470,
 'nm0330687': 5041589,
 'nm0000668': 1676627,
 'nm0001737': 275704,
 'nm0001975': 122029,
 'nm0320547': 105,
 'nm0274371': 154587,
 'nm0000947': 106434,
 'nm0648846': 105,
 'nm0000274': 611173,
 'nm0000117': 605848,
 'nm0001073': 621621,
 'nm0507271': 9736,
 'nm0000569': 3025155,
 'nm0316079': 2519679,
 'nm0105672': 363705,
 'nm0593664': 1816822,
 'nm0369513': 795700,
 'nm0004874': 4770553,
 'nm0202966': 482514,
 'nm0000652': 144867,
 'nm0004906': 329138,
 'nm0000677': 151962,
 'nm0000291': 853606,
 'nm0380231': 393,
 'nm0553436': 2397,
 'nm0575184': 49918,
 'nm0836071': 3796,
 'nm0001606': 2355,
 'nm0942482': 2338152,
 'nm0220867': 1299,
 'nm0000145': 10492,
 'nm0000123': 5683965,
 'nm0001876': 2039348,
 'nm0000671': 1540768,
 'nm0000177': 723019,
 'nm0000110': 1060793,
 'nm0001609': 121327,
 'nm0000800': 185323,
 'nm0562924': 438,
 'nm0333318': 438,
 'nm0245652': 438,
 'nm0001618': 5735078,
 'nm0000234': 5191777,
 'nm0001001': 662800,
 'nm0000449': 151903,
 'nm0890232': 327357,
 'nm0728346': 131139,
 'nm0001882': 6763,
 'nm0000243': 5128423,
 'nm0000160': 3780172,
 'nm0001277': 1056786,
 'nm0000297': 469897,
 'nm0001016': 1955173,
 'nm0540585': 457,
 'nm0000446': 9555,
 'nm0195672': 284,
 'nm0497621': 367,
 'nm0000514': 2025633,
 'nm0846480': 291246,
 'nm0368745': 710,
 'nm0000886': 5051,
 'nm0000473': 512457,
 'nm0000176': 13031,
 'nm0000443': 54340,
 'nm0000190': 6775860,
 'nm0000200': 1789186,
 'nm0000172': 1006372,
 'nm0000954': 84575,
 'nm0000978': 270,
 'nm0001038': 17796,
 'nm0005547': 270,
 'nm0000977': 247782,
 'nm0000288': 12956090,
 'nm0857620': 1076128,
 'nm0524197': 1616084,
 'nm0756083': 722082,
 'nm0000729': 1449675,
 'nm0005561': 1038004,
 'nm0899681': 699965,
 'nm0001390': 82816,
 'nm0588777': 60792,
 'nm0018099': 52105,
 'nm0025364': 713,
 'nm0138421': 850,
 'nm0000409': 1074848,
 'nm0354937': 777,
 'nm0000483': 33580,
 'nm0001600': 37097,
 'nm0668271': 64637,
 'nm0053887': 20656,
 'nm0000353': 5451604,
 'nm0290556': 4688639,
 'nm0000126': 1561675,
 'nm0339304': 1124548,
 'nm0238057': 59790,
 'nm0177020': 59790,
 'nm0001401': 4871770,
 'nm0000685': 834569,
 'nm0322513': 567060,
 'nm0852965': 650452,
 'nm0000649': 48797,
 'nm0878911': 520,
 'nm0157915': 92769,
 'nm0000529': 87644,
 'nm0000131': 2292874,
 'nm0005013': 185482,
 'nm0521974': 182459,
 'nm0085312': 4136505,
 'nm0569226': 219122,
 'nm0893204': 13011,
 'nm0341055': 2421,
 'nm0556985': 340,
 'nm0000056': 434518,
 'nm0000400': 20223,
 'nm0000551': 1160419,
 'nm0055794': 6179,
 'nm0004851': 2184263,
 'nm0001794': 304805,
 'nm0129583': 15201,
 'nm0000558': 87073,
 'nm0613147': 52912,
 'nm0029502': 35345,
 'nm0001235': 124365,
 'nm0451321': 698065,
 'nm0706787': 238589,
 'nm0802103': 10429,
 'nm2528716': 10429,
 'nm0003784': 1669,
 'nm0702712': 147,
 'nm0467632': 147,
 'nm0943961': 147,
 'nm0112915': 228,
 'nm0621008': 4630,
 'nm0001397': 476,
 'nm0000798': 27286,
 'nm0066664': 388,
 'nm0236952': 2167,
 'nm0887708': 636,
 'nm0000218': 793717,
 'nm0000576': 1940963,
 'nm0000843': 58143,
 'nm0289038': 15725,
 'nm0440229': 44512,
 'nm0159668': 687,
 'nm0802217': 687,
 'nm0835840': 687,
 'nm0005172': 9689,
 'nm0152638': 9248,
 'nm0834626': 36345,
 'nm0000362': 485990,
 'nm0002101': 4246,
 'nm0429114': 7040,
 'nm0724757': 768608,
 'nm0313416': 113,
 'nm0000635': 1150,
 'nm0197940': 1150,
 'nm0275913': 78722,
 'nm0685221': 1150,
 'nm0005260': 173420,
 'nm0000102': 1239794,
 'nm0000178': 1528741,
 'nm0000187': 28508,
 'nm0000391': 149251,
 'nm0000973': 1450054,
 'nm0001152': 22161,
 'nm0816669': 469,
 'nm0333888': 311,
 'nm0005497': 1274,
 'nm0002364': 38817,
 'nm0103038': 338129,
 'nm0829390': 22128,
 'nm0305519': 33141,
 'nm0000299': 113073,
 'nm0000701': 4150899,
 'nm0004787': 235110,
 'nm0000562': 174378,
 'nm0000532': 345249,
 'nm0000650': 22611,
 'nm0708873': 1110,
 'nm0574308': 920,
 'nm0528462': 8898,
 'nm0778831': 246140,
 'nm0564516': 1787,
 'nm0004692': 358358,
 'nm0000286': 44377,
 'nm0005060': 24157,
 'nm0005105': 54252,
 'nm0005562': 4594915,
 'nm0532683': 515331,
 'nm0925916': 108488,
 'nm0011148': 60179,
 'nm0120648': 14156,
 'nm0004801': 6888,
 'nm0000179': 4777115,
 'nm0000173': 3468314,
 'nm0000250': 2057656,
 'nm0040586': 188127,
 'nm1186560': 41,
 'nm0086731': 41,
 'nm1249664': 41,
 'nm0222881': 523,
 'nm0906617': 1107,
 'nm0000792': 64817,
 'nm0911933': 37412,
 'nm0000240': 14246,
 'nm0005568': 88248,
 'nm0004911': 13618,
 'nm0006610': 146251,
 'nm0000648': 625854,
 'nm0000661': 1471880,
 'nm0001999': 58894,
 'nm0000271': 116286,
 'nm0005154': 1074520,
 'nm0000195': 2467980,
 'nm0751638': 23209,
 'nm0272224': 202,
 'nm0001560': 1252,
 'nm0905357': 14578,
 'nm0931404': 693046,
 'nm0001267': 40679,
 'nm0431332': 1631,
 'nm0129071': 1423,
 'nm0111274': 302438,
 'nm0000352': 1196197,
 'nm0000656': 177928,
 'nm0005467': 94456,
 'nm0000413': 100673,
 'nm0001611': 1344,
 'nm0001130': 1333,
 'nm0942147': 220,
 'nm0765597': 2220027,
 'nm0050337': 609,
 'nm0523186': 668,
 'nm0000308': 3224,
 'nm0107281': 313,
 'nm0788947': 217,
 'nm0768217': 217,
 'nm0000213': 1520252,
 'nm0001035': 111577,
 'nm0944077': 12217,
 'nm0001311': 424081,
 'nm0350079': 647376,
 'nm0001505': 32271,
 'nm0001075': 274314,
 'nm0001689': 4305,
 'nm0000155': 165558,
 'nm0611932': 216499,
 'nm0226820': 648727,
 'nm0048379': 20780,
 'nm0005203': 477411,
 'nm0000330': 52737,
 'nm0001714': 189747,
 'nm0000193': 373391,
 'nm0258250': 3478,
 'nm0196718': 3478,
 'nm1124035': 3478,
 'nm0599715': 993,
 'nm0657760': 18161,
 'nm0641437': 993,
 'nm0001602': 2973128,
 'nm0001426': 4203588,
 'nm0918135': 598,
 'nm0297229': 598,
 'nm0000148': 2356973,
 'nm0000201': 1407786,
 'nm0870007': 129389,
 'nm0001584': 955579,
 'nm0001454': 1003607,
 'nm0000491': 2751339,
 'nm0000444': 51581,
 'nm0000675': 23101,
 'nm0001629': 158965,
 'nm0000158': 7059641,
 'nm0000166': 1156466,
 'nm0584052': 598349,
 'nm0925096': 598349,
 'nm0000114': 2345853,
 'nm0000301': 199538,
 'nm0424060': 9992784,
 'nm0000605': 184226,
 'nm0001853': 86859,
 'nm0000560': 762267,
 'nm0001447': 163867,
 'nm0001435': 872052,
 'nm0000527': 12788,
 'nm0000554': 1155697,
 'nm0000495': 787901,
 'nm0005273': 771769,
 'nm0915989': 3424079,
 'nm0000092': 117330,
 'nm0491136': 423,
 'nm0588096': 363,
 'nm0864997': 265710,
 'nm1979918': 204,
 'nm0452199': 204,
 'nm0006669': 61414,
 'nm0723590': 204,
 'nm0305182': 667,
 'nm0769444': 667,
 'nm0136286': 667,
 'nm0276062': 1579,
 'nm0001729': 22179,
 'nm0000838': 39853,
 'nm0919117': 8333,
 'nm0842770': 2798059,
 'nm0948679': 242333,
 'nm0665265': 242333,
 'nm0000107': 650426,
 'nm0001722': 1092988,
 'nm0171052': 14868,
 'nm0000369': 409440,
 'nm0001523': 149101,
 'nm0000367': 241747,
 'nm0000223': 711252,
 'nm0000982': 4690486,
 'nm0225332': 160824,
 'nm0000255': 5899263,
 'nm0000151': 5635532,
 'nm1172817': 118781,
 'nm0090309': 118781,
 'nm0005048': 1029240,
 'nm0000899': 703707,
 'nm0000699': 122210,
 'nm0005321': 187175,
 'nm0048414': 224064,
 'nm0005246': 9695,
 'nm0338614': 1283,
 'nm0000319': 11983,
 'nm0341347': 488,
 'nm0233027': 428434,
 'nm0035061': 1041,
 'nm0837051': 1041,
 'nm0000571': 753739,
 'nm0133899': 94678,
 'nm0766046': 32157,
 'nm0244707': 45292,
 'nm0441236': 6560,
 'nm0001467': 2855648,
 'nm0350453': 7273000,
 'nm0004757': 1026555,
 'nm0000775': 1131959,
 'nm0493699': 627,
 'nm0000628': 56150,
 'nm0953262': 627,
 'nm0005188': 1550418,
 'nm0000198': 4569728,
 'nm0000621': 2108104,
 'nm0249378': 33917,
 'nm0001472': 1429455,
 'nm0004691': 128579,
 'nm0913460': 173590,
 'nm0000093': 11380108,
 'nm0001212': 660849,
 'nm0004879': 248889,
 'nm0000427': 67692,
 'nm0694066': 241472,
 'nm0000368': 960428,
 'nm0002663': 61352,
 'nm0000593': 310073,
 'nm0000403': 84736,
 'nm0001806': 1009229,
 'nm0441592': 80775,
 'nm0015358': 6,
 'nm0003919': 6,
 'nm1018163': 6,
 'nm0000342': 524426,
 'nm0836070': 78155,
 'nm0076718': 78197,
 'nm0949350': 227252,
 'nm0317570': 23,
 'nm1011760': 23,
 'nm0649330': 23,
 'nm0730099': 11764,
 'nm0940784': 3332,
 'nm0077753': 3332,
 'nm0000662': 901888,
 'nm0000579': 1899293,
 'nm0427964': 1044028,
 'nm0001641': 103356,
 'nm0014582': 509409,
 'nm0834925': 4714,
 'nm0001557': 5422787,
 'nm0000249': 73409,
 'nm0001272': 8364,
 'nm0001745': 2181329,
 'nm0372176': 1900455,
 'nm1530889': 3333,
 'nm0001648': 432519,
 'nm0001951': 111497,
 'nm0000366': 111497,
 'nm0001556': 740542,
 'nm0001780': 556780,
 'nm1035682': 316684,
 'nm0117146': 251587,
 'nm1287636': 36526,
 'nm0451148': 1544974,
 'nm0944834': 136287,
 'nm0961737': 217612,
 'nm0791226': 115705,
 'nm0911725': 1157,
 'nm0591703': 945,
 'nm0001652': 1055125,
 'nm0000120': 4006404,
 'nm0597410': 267332,
 'nm3679189': 265879,
 'nm0001787': 541970,
 'nm0000678': 167813,
 'nm0000732': 26127,
 'nm0001550': 7862,
 'nm0621992': 635,
 'nm0268199': 5107834,
 'nm0205127': 335313,
 'nm0004286': 460883,
 'nm0347509': 50304,
 'nm0000553': 6609315,
 'nm0000113': 4135073,
 'nm0001624': 459401,
 'nm0959242': 13558,
 'nm0001492': 75108,
 'nm0001731': 643218,
 'nm0001774': 4533722,
 'nm0001570': 3753561,
 'nm0001184': 466652,
 'nm0001674': 1778888,
 'nm0001427': 1443877,
 'nm0005517': 631863,
 'nm0003244': 797906,
 'nm0001796': 492,
 'nm0566572': 1732,
 'nm0001367': 24018,
 'nm0000397': 12909,
 'nm0000128': 6189013,
 'nm0001567': 2308696,
 'nm0001657': 1509148,
 'nm0001804': 2598601,
 'nm0204706': 548509,
 'nm0405103': 15444,
 'nm0001718': 373687,
 'nm0001555': 8227,
 'nm0005375': 470,
 'nm0001546': 242,
 'nm0000429': 28118,
 'nm0001151': 499000,
 'nm0001860': 217962,
 'nm0004978': 571148,
 'nm0000285': 1852219,
 'nm0001840': 82662,
 'nm0001605': 1401407,
 'nm0887144': 131198,
 'nm0009017': 4218,
 'nm0053474': 4218,
 'nm0000152': 1157929,
 'nm0001439': 225603,
 'nm0267506': 2715419,
 'nm0009016': 319390,
 'nm0005541': 1992052,
 'nm0001182': 387780,
 'nm0005261': 815336,
 'nm0001542': 176139,
 'nm0000616': 95516,
 'nm0000615': 159424,
 'nm0005035': 1801,
 'nm0539679': 457,
 'nm0199939': 22121,
 'nm0635869': 1389,
 'nm0593841': 523,
 'nm0722636': 68301,
 'nm0005342': 138833,
 'nm0005028': 1660586,
 'nm0256263': 296,
 'nm0000502': 315364,
 'nm0287702': 315,
 'nm0701030': 296,
 'nm0907708': 159654,
 'nm0000401': 2509445,
 'nm0002138': 786,
 'nm0151033': 778,
 'nm0001541': 53035,
 'nm0578853': 1485818,
 'nm0528539': 40143,
 'nm0569790': 2119,
 'nm0002117': 62463,
 'nm0000470': 4543,
 'nm0001057': 2107216,
 'nm0185819': 5844185,
 'nm0001020': 1402,
 'nm0867017': 1402,
 'nm0005269': 12278,
 'nm0004910': 2485,
 'nm0364583': 53990,
 'nm0444629': 484,
 'nm0331054': 572,
 'nm0138388': 906,
 'nm0000604': 2976568,
 'nm0429240': 355,
 'nm0001025': 17507,
 'nm0001419': 411,
 'nm0267232': 355,
 'nm0040015': 3582,
 'nm0000539': 12415,
 'nm0906031': 2044,
 'nm0048932': 232462,
 'nm0295484': 718045,
 'nm0001763': 530917,
 'nm0168262': 249347,
 'nm0108287': 1339787,
 'nm0001172': 413551,
 'nm0001100': 872344,
 'nm0000163': 1950085,
 'nm0000215': 1206342,
 'nm0006952': 29032,
 'nm0261170': 38712,
 'nm0602941': 38324,
 'nm0002332': 830996,
 'nm0205657': 46400,
 'nm0039435': 1536,
 'nm0948267': 513864,
 'nm0000681': 3231180,
 'nm0122653': 240552,
 'nm0001288': 231828,
 'nm0000984': 50877,
 'nm0824150': 74,
 'nm0786085': 74,
 'nm0195844': 2322,
 'nm0876958': 823,
 'nm0331319': 150,
 'nm0485548': 150,
 'nm0698998': 5180,
 'nm0000276': 445013,
 'nm0132257': 238960,
 'nm0005078': 80158,
 'nm0877888': 1224,
 'nm0001530': 3179,
 'nm0005010': 18286,
 'nm0000871': 6907,
 'nm0001642': 466535,
 'nm0206257': 2220086,
 'nm0000323': 7851747,
 'nm0000995': 1260420,
 'nm0000124': 4624288,
 'nm0001099': 812045,
 'nm0696193': 2826,
 'nm0017020': 2048,
 'nm0202795': 1991,
 'nm0001368': 35652,
 'nm0000739': 334,
 'nm0712675': 2279,
 'nm0788009': 187913,
 'nm0000906': 672797,
 'nm0001487': 5980,
 'nm0000846': 820,
 'nm0283492': 820,
 'nm0000125': 265202,
 'nm0114532': 323960,
 'nm0000719': 1041740,
 'nm0001593': 292117,
 'nm0608090': 1186717,
 'nm0001884': 1106034,
 'nm0001383': 176523,
 'nm0005275': 36844,
 'nm0000507': 34735,
 'nm0108295': 7582,
 'nm0480465': 99216,
 'nm0000216': 1586855,
 'nm0518085': 458217,
 'nm0000132': 873231,
 'nm0000140': 1638424,
 'nm0001125': 1737497,
 'nm0889846': 217910,
 'nm0297578': 438418,
 'nm0000531': 1975153,
 'nm0000610': 1329162,
 'nm0000505': 277561,
 'nm0441588': 127204,
 'nm0272173': 602403,
 'nm0005174': 13553,
 'nm0028319': 7977,
 'nm0188923': 81,
 'nm0168387': 81,
 'nm0000555': 30352,
 'nm0000224': 69448,
 'nm0491590': 586,
 'nm0338886': 29173,
 'nm0584049': 90,
 'nm0559817': 90,
 'nm0000336': 29165,
 'nm0541908': 516547,
 'nm0001370': 473,
 'nm0405033': 396,
 'nm0687625': 13376,
 'nm0005024': 1636292,
 'nm0427793': 121,
 'nm0671922': 121,
 'nm0026364': 501059,
 'nm0115236': 240730,
 'nm0000209': 1360506,
 'nm0000332': 2968764,
 'nm0193661': 2715,
 'nm0628563': 571,
 'nm0126284': 3139578,
 'nm0000475': 3341,
 'nm0000328': 3332,
 'nm0727850': 165,
 'nm0001845': 2987808,
 'nm0000438': 3801697,
 'nm0001315': 1261346,
 'nm0461446': 29097,
 'nm0716452': 28652,
 'nm0005132': 4069191,
 'nm0815370': 447632,
 'nm0000498': 410394,
 'nm0000420': 18864,
 'nm0095478': 1276310,
 'nm0618651': 100249,
 'nm0225899': 100249,
 'nm0803558': 56636,
 'nm0182839': 663299,
 'nm0663503': 294,
 'nm0010050': 495,
 'nm0869467': 4309,
 'nm0013037': 177589,
 'nm0001616': 654710,
 'nm0005466': 1085764,
 'nm0000640': 1125667,
 'nm0001326': 1790897,
 'nm0289656': 88589,
 'nm0000329': 1654384,
 'nm0581266': 129492,
 'nm0000331': 44303,
 'nm0916406': 185393,
 'nm0004922': 87104,
 'nm0254402': 14178,
 'nm0525921': 77376,
 'nm0220635': 385,
 'nm0000375': 11448057,
 'nm0000237': 1662842,
 'nm0001608': 576083,
 'nm0167649': 291473,
 'nm0001191': 4741708,
 'nm0000099': 510763,
 'nm0406975': 1267995,
 'nm0000541': 179552,
 'nm0000130': 1656492,
 'nm0000598': 2063551,
 'nm0001029': 1076736,
 'nm0236495': 118730,
 'nm0593310': 315434,
 'nm0001701': 328161,
 'nm0000270': 5964,
 'nm0859197': 54844,
 'nm0000435': 2116138,
 'nm0000592': 3801,
 'nm0001298': 12200,
 'nm0001048': 2235,
 'nm0004904': 3983,
 'nm0004897': 2375,
 'nm0001655': 130793,
 'nm0792177': 2941,
 'nm0001065': 308373,
 'nm0000340': 412,
 'nm0000142': 885503,
 'nm0001258': 700952,
 'nm0005448': 171419,
 'nm0313534': 511324,
 'nm0002546': 102474,
 'nm0047248': 69844,
 'nm0004753': 576625,
 'nm0249962': 21821,
 'nm0005327': 214132,
 'nm0004999': 62792,
 'nm0000613': 438448,
 'nm0005042': 879224,
 'nm0569990': 5697,
 'nm0571106': 51746,
 'nm0285913': 23404,
 'nm0001213': 59635,
 'nm0486728': 84948,
 'nm0301959': 48486,
 'nm0001434': 531914,
 'nm0007237': 308864,
 'nm0000287': 11514,
 'nm0049190': 661,
 'nm0000516': 7901,
 'nm0144753': 365,
 'nm0502425': 1427597,
 'nm0870794': 66954,
 'nm0924003': 43,
 'nm0669126': 43,
 'nm0001231': 94085,
 'nm0072768': 297,
 'nm0000273': 1424302,
 'nm0341737': 322738,
 'nm0000596': 283510,
 'nm0722629': 117577,
 'nm0544691': 883,
 'nm0781218': 3846,
 'nm0001993': 1410383,
 'nm0440913': 41806,
 'nm0000606': 924748,
 'nm0002010': 19546,
 'nm0743671': 21409,
 'nm0004968': 1763,
 'nm0520203': 1593,
 'nm0002090': 18906,
 'nm0934569': 1699,
 'nm0000518': 1835553,
 'nm0001424': 290252,
 'nm0000144': 925298,
 'nm0488561': 125,
 'nm0426547': 125,
 'nm0216242': 125,
 'nm0715529': 2947,
 'nm0000246': 5220671,
 'nm0001612': 398749,
 'nm0000275': 150038,
 'nm0000460': 876823,
 'nm0572721': 33990,
 'nm0625789': 764244,
 'nm0001863': 66448,
 'nm0068382': 25325,
 'nm0000235': 2353437,
 'nm0002103': 553975,
 'nm0000563': 129887,
 'nm0001314': 388526,
 'nm0412850': 93421,
 'nm0004875': 801607,
 'nm0000663': 55929,
 'nm0000477': 12419,
 'nm0005243': 3739,
 'nm0000421': 394744,
 'nm0461498': 705227,
 'nm0258402': 341315,
 'nm1328870': 7322,
 'nm0063440': 145456,
 'nm0001638': 20947,
 'nm0000535': 504796,
 'nm0719678': 138410,
 'nm0000206': 4745124,
 'nm0428963': 288233,
 'nm0922035': 1620127,
 'nm0001610': 209110,
 'nm0187224': 93179,

In [4]:
index = actor_genre_map.keys()
rows = [actor_genre_map[k] for k in index]
df = pd.DataFrame(rows, index=index)

# Fill NAs with zero, as NA means the actor has not starred in that genre
df = df.fillna(0)

df

,Comedy,Fantasy,Romance,Drama,Mystery,Thriller,Action,Biography,Crime,War,...,Horror,Documentary,Sport,News,Family,Music,,Western,Short,Reality-TV
nm0000212,7.0,1.0,6.0,6.0,1.0,2.0,1.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nm0413168,7.0,3.0,5.0,12.0,5.0,2.0,14.0,4.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nm0000630,8.0,2.0,6.0,14.0,2.0,3.0,4.0,5.0,1.0,1.0,...,3.0,7.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
nm0005227,10.0,1.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
nm0864851,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
nm9504284,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nm10592896,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nm7216750,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nm0936300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
nm10375007,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
norm_df = df.divide(df.sum(axis=1),axis=0)
norm_df

,Comedy,Fantasy,Romance,Drama,Mystery,Thriller,Action,Biography,Crime,War,...,Horror,Documentary,Sport,News,Family,Music,,Western,Short,Reality-TV
nm0000212,0.250000,0.035714,0.214286,0.214286,0.035714,0.071429,0.035714,0.035714,0.071429,0.035714,...,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.0,0.0,0.0
nm0413168,0.081395,0.034884,0.058140,0.139535,0.058140,0.023256,0.162791,0.046512,0.069767,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.0,0.0,0.0
nm0000630,0.112676,0.028169,0.084507,0.197183,0.028169,0.042254,0.056338,0.070423,0.014085,0.014085,...,0.042254,0.098592,0.042254,0.014085,0.00,0.0,0.0,0.0,0.0,0.0
nm0005227,0.400000,0.040000,0.080000,0.080000,0.000000,0.040000,0.040000,0.000000,0.000000,0.000000,...,0.040000,0.000000,0.040000,0.000000,0.08,0.0,0.0,0.0,0.0,0.0
nm0864851,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.333333,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
nm9504284,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.0,0.0,0.0
nm10592896,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.0,0.0,0.0
nm7216750,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.0,0.0,0.0
nm0936300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.0,0.0,0.0
nm10375007,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.0,0.0,0.0,0.0

In [6]:
norm_df.sum(axis=1)

nm0000212     1.0
nm0413168     1.0
nm0000630     1.0
nm0005227     1.0
nm0864851     1.0
             ...
nm9504284     1.0
nm10592896    1.0
nm7216750     1.0
nm0936300     1.0
nm10375007    1.0
Length: 33609, dtype: float64

In [7]:
query = 'nm0413168'

In [12]:
target_actor_ratings = df.loc[query]
distances = scipy.spatial.distance.cdist(df, [target_actor_ratings], metric="euclidean")[:,0]
distances

array([22.22611077,  0.        , 18.46618531, ..., 27.27636339,
       27.33130074, 26.64582519])

In [47]:
target_actor_ratings = norm_df.loc[query]
distances = scipy.spatial.distance.cdist(norm_df, [target_actor_ratings], metric="euclidean")[:,0]
query_distances = list(zip(norm_df.index, distances))

for similar_actor_id, similar_genre_score in sorted(query_distances, key=lambda x: x[1], reverse=False)[:10]:
    print(similar_actor_id, actor_name_map[similar_actor_id], similar_genre_score, df.loc[similar_actor_id].sum())

nm0413168 Hugh Jackman 0.0 86.0
nm0089217 Orlando Bloom 18114.000001342312 49.0
nm0749263 Mark Ruffalo 194590.000000098 90.0
nm0000168 Samuel L. Jackson 278285.0000000308 155.0
nm0000354 Matt Damon 507210.00000003906 112.0
nm0005212 Ian McKellen 516593.0000000171 51.0
nm0000136 Johnny Depp 678847.0000000201 95.0
nm0424060 Scarlett Johansson 714135.0000000249 94.0
nm0262635 Chris Evans 738323.0000000081 74.0
nm0000323 Michael Caine 1426902.0000000203 70.0

# Exercise 2

In [59]:
df["Votes"] = [actor_rating_map.get(r, 0) for r in norm_df.index]
df

,Comedy,Fantasy,Romance,Drama,Mystery,Thriller,Action,Biography,Crime,War,...,Documentary,Sport,News,Family,Music,,Western,Short,Reality-TV,Votes
nm0000212,7.0,1.0,6.0,6.0,1.0,2.0,1.0,1.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,269915
nm0413168,7.0,3.0,5.0,12.0,5.0,2.0,14.0,4.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9278649
nm0000630,8.0,2.0,6.0,14.0,2.0,3.0,4.0,5.0,1.0,1.0,...,7.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2356649
nm0005227,10.0,1.0,2.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,535171
nm0864851,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
nm9504284,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,462
nm10592896,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,462
nm7216750,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,462
nm0936300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1756
nm10375007,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,835

In [50]:
df_without_votes = df.drop(columns=["Votes"])
target_actor_ratings = df_without_votes.loc[query]
distances = scipy.spatial.distance.cdist(df_without_votes, [target_actor_ratings], metric="euclidean")[:,0]
query_distances = list(zip(df.index, distances))

for similar_actor_id, similar_genre_score in sorted(query_distances, key=lambda x: x[1], reverse=False)[:10]:
    print(similar_actor_id, actor_name_map[similar_actor_id], similar_genre_score, df.loc[similar_actor_id].sum())

nm0413168 Hugh Jackman 0.0 9278735.0
nm0000375 Robert Downey Jr. 7.937253933193772 11448132.0
nm0262635 Chris Evans 8.366600265340756 10017046.0
nm1517976 Chris Pine 10.770329614269007 3857317.0
nm1475594 Channing Tatum 10.954451150103322 3838612.0
nm0185819 Daniel Craig 11.445523142259598 5844258.0
nm0000226 Will Smith 11.916375287812984 6516606.0
nm0757855 Zoe Saldana 12.328828005937952 4877179.0
nm0004937 Jamie Foxx 12.529964086141668 5086800.0
nm0000234 Charlize Theron 12.922847983320086 5191872.0

In [51]:
target_actor_ratings = df.loc[query]
distances = scipy.spatial.distance.cdist(df, [target_actor_ratings], metric="euclidean")[:,0]
query_distances = list(zip(df.index, distances))

for similar_actor_id, similar_genre_score in sorted(query_distances, key=lambda x: x[1], reverse=False)[:10]:
    print(similar_actor_id, actor_name_map[similar_actor_id], similar_genre_score, df.loc[similar_actor_id].sum())

nm0413168 Hugh Jackman 0.0 9278735.0
nm0089217 Orlando Bloom 18114.00582422342 9296812.0
nm0749263 Mark Ruffalo 194590.00078112955 9084149.0
nm0000168 Samuel L. Jackson 278285.0013098083 9557089.0
nm0000354 Matt Damon 507210.0004298022 8771551.0
nm0005212 Ian McKellen 516593.0001848651 9795293.0
nm0000136 Johnny Depp 678847.0001642491 8599897.0
nm0424060 Scarlett Johansson 714135.0002198464 9992878.0
nm0262635 Chris Evans 738323.0000474048 10017046.0
nm0000323 Michael Caine 1426902.0001100285 7851817.0

In [71]:
#Normalize by min/max
ndf = df.subtract(df.min()).divide(df.max()-df.min())
ndf

,Comedy,Fantasy,Romance,Drama,Mystery,Thriller,Action,Biography,Crime,War,...,Documentary,Sport,News,Family,Music,,Western,Short,Reality-TV,Votes
nm0000212,0.212121,0.1,0.428571,0.086957,0.05,0.031746,0.017857,0.090909,0.068966,0.076923,...,0.00000,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.019473
nm0413168,0.212121,0.3,0.357143,0.173913,0.25,0.031746,0.250000,0.363636,0.206897,0.000000,...,0.00000,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.669404
nm0000630,0.242424,0.2,0.428571,0.202899,0.10,0.047619,0.071429,0.454545,0.034483,0.076923,...,0.21875,0.075,0.333333,0.000000,0.0,0.0,0.0,0.0,0.0,0.170019
nm0005227,0.303030,0.1,0.142857,0.028986,0.00,0.015873,0.017857,0.000000,0.000000,0.000000,...,0.00000,0.025,0.000000,0.076923,0.0,0.0,0.0,0.0,0.0,0.038610
nm0864851,0.030303,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
nm9504284,0.000000,0.0,0.000000,0.000000,0.00,0.015873,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000033
nm10592896,0.000000,0.0,0.000000,0.000000,0.00,0.015873,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000033
nm7216750,0.000000,0.0,0.000000,0.000000,0.00,0.015873,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000033
nm0936300,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.076923,...,0.00000,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000127
nm10375007,0.030303,0.0,0.000000,0.014493,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000060

In [82]:
target_actor_ratings = ndf.loc[query]
distances = scipy.spatial.distance.cdist(ndf, [target_actor_ratings], metric="euclidean")[:,0]
query_distances = list(zip(ndf.index, distances))


for similar_actor_id, similar_genre_score in sorted(query_distances, key=lambda x: x[1], reverse=False)[:10]:
    print(similar_actor_id, actor_name_map[similar_actor_id], similar_genre_score, df.loc[similar_actor_id].sum())

nm0413168 Hugh Jackman 0.0 86.66940361305493
nm0000375 Robert Downey Jr. 0.5962602575177932 75.82591449663187
nm0010736 Amy Adams 0.6174947730739638 79.45140331177944
nm0262635 Chris Evans 0.6577934358095161 74.72266956629893
nm0124930 Gerard Butler 0.7055878776461664 90.3623139284794
nm0000129 Tom Cruise 0.7208010824176451 61.52309966302741
nm0000191 Ewan McGregor 0.7584657529417943 114.376893757393
nm0000234 Charlize Theron 0.7885787241568242 95.37455822307487
nm0005351 Ryan Reynolds 0.7927022223157756 115.52260381378981
nm0000553 Liam Neeson 0.8001152435196612 120.4768258116907